*{
margin: 0%;
padding: 0%;
}
body{
    background-color: darkgray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 20%;
    height: 70vh; 
    width: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
   border-radius: 5px;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.5);
   font-size: 8vmin;
   color: black;
}
.reset{
    height: 40px;
    width:70px;
    background-color: rgb(5, 1, 9);
    color: white;
    border-radius: 10px;
}
.newgame{
    height: 40px;
    width:70px;
    background-color: rgb(5, 1, 9);
    color: white;
    border-radius: 10px;
}
.msg{
    font-size: 2rem;
    margin: 15px;
}
.msg-containe{
    height: 80vmin;
    width: 80vmin;
}
.hide{
    display: none;
}
